
<div id="login-page" class="row">
    <div class="container">
      <form class="login-form" [formGroup]="fgvalidator" (ngSubmit)="IdentificarUsuario()">
        
        <div class="form-group row m-5">
          <div class="col-sm-1 text-center" >
            <label class="form-label" for="email" data-error="wrong" data-success="right"><fa-icon [icon]="['far','envelope']"></fa-icon></label>
          </div>
          <div class="col-sm-11">
            <input class="form-control" id="email" type="email" formControlName="usuario" placeholder="usuario">
          </div>
        </div>

        <div class="form-group row m-5">
            <div class="col-sm-1 text-center" >
              <label for="password" class="form-label "><fa-icon [icon]="['fas','unlock-keyhole']"></fa-icon></label>
            </div>
            <div class="col-sm-11">
              <input class="form-control" id="password" type="password" formControlName="password" placeholder="password">
            </div>
            
        </div>
        <div class="form-group row m-5 d-flex justify-content-center">
          <div class="col-sm-3 ">
            <button type="submit" class="btn btn-outline-info" [disabled]="!fgvalidator.valid">Login</button>
          </div>
        </div>
        

      </form>
    </div>
  
   
    
  </div>
 
